{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  {# {{ title_prefix }} #}
<div class="webfrom__wrapper">
  <div class="webform__join__news">{{element.elements.join_our_newsletter_list}}</div>
  <div class="webform__email">{{ element.elements.email_address }}</div>
  <div class="webform__actions">{{ element.elements.actions}}</div>
  <div class="webform__know__more"><a href="https://www.mnn.com/newsletter">{{element.elements.want_to_know_more_}}</a></div>
</div>
  {# <div class="webform__email">{{webform.email_address}}</div> #}
  {# {{ title_suffix }} #}
</form>
