<div class="main_header">
<div class="branding_logo">{{page.branding_logo}}</div>
<div class="branding_navigation">{{page.branding_navigation}}</div>
<div class="branding_right_navigation">{{page.branding_right_navigation}}</div>
</div>
<div class="featured">{{page.featured}}</div>
<div class="main_content">
<div class="main_left_content">{{page.content}}</div>
<div class="right_sidebar">{{page.right_sidebar}}</div>
</div>
<div class="footer">
<div class="footer_section">
<div class="footer_bottom_1">{{page.footer_bottom_1}}</div>
<div class="footer_bottom_2">{{page.footer_bottom_2}}</div>
<div class="footer_bottom_3">{{page.footer_bottom_3}}</div>
<div class="footer_bottom_4">{{page.footer_bottom_4}}</div>
</div>
{{page.footer_bottom}}
</div>

